body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  background-color: white;
}


fieldset > input[type=submit] {
  border: 1px solid #c7254e;
  border-radius: 5px;
  padding: 5px 7px 5px 7px;
  background-repeat: no-repeat;
  background-position: 8px 9px;
}

fieldset > input[type=submit]:active {
  background-color: #4cae4c;
}

fieldset > label > input {
  font-size: 110%;
  color: #5a5854;
  background-color: #c4e3f3;
  border: 1px solid #c7254e;
  border-radius: 5px;
  padding: 5px 5px 5px 10px;
  background-repeat: no-repeat;
  background-position: 8px 9px;
  margin-bottom: 10px;
  margin-top: 10px;
}


.discovery {
  width: 100%;
}

header {
  width: auto;
  color: white;
  padding: 15px;
  background-color: #808080;
}

main {
  display: flex;
}


section.discovery > fieldset {
  margin-left: 30px;
}

form {
  width: 100%;
}


li {
  padding: 7px;
  margin: 7px;
  color: white;
  width: 250px;
  background-color: deepskyblue;
}

.tagmap {
  float: right;
}

.tagging {
  padding-left: 20px;
  width: 500px;
}

footer {
    float: bottom;
  color: white;
  padding: 15px;
  background-color: #808080;
}